/*our success stories*/

.main_heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .main_upper_box{
    margin-bottom: 2em;
  }
  
  .main_id{
     width: 40%;
  }
  
  .image{
    border-radius: 10px 0 0 10px;
    width: 12em;
    height: 12em;
    border-radius: 5px 0px 0px 5px;
  }
  
  .main_block_content{
    background-color: #F7F7F7 ;
    overflow: hidden;
    width: 100%;
    height: 12em;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-wrap: break-word;
  }
  
  .main_button{
    padding-bottom: 10px;
    align-items: flex-end;
    width: 10%;
    right: 0.1rem;
    opacity: 100%;
  }
  
  
  .lower_container{
    width: 20%;
    height: 30%;
  }
  
  .content_number{
    font-weight: 2px;
    font-size: 30px;
  }
  
  .buttons_lower_{
    border-color: black;
    border-width: 2px;
    color: black;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 6px;
  }
  
  .lower_content_{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .full_div{
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .modal-content
  {
    margin-top: 100px;
  }
  
  .img_modal
    {
      display: inline-block;
    }
  .p_modal
    {
        margin-top: 10px;
  }
  .modal-body
  {
      text-align: center
  }
  
  .carousel_arrow{
    border: 2px solid #00a7f6;
    border-radius: 50%;
    padding: 5.07px 3.72px 4.37px 5.43px;
    position: absolute;
    top: 85%;
    right: 6%;
    bottom: 6%;
    cursor: pointer;
    height: 28.44px;
    max-width: 28.15px;
  }



  .main_heading{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;}
    
    .success-stories-block
    {
        display:flex;
        flex-direction: row;
    }
    
    .qr-code {
        display: flex;
    }
    
    .qr-code img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        width: 40%;
        height: 40%;
    }
    
    .lower_content_{
        justify-content: space-around;
    }
    
    @media screen and (max-width: 1366px) {
        .qr-code img {
            width: 100%;
            height: 100%;
        }
    
        .success-stories-block
        {
            flex-direction: row;
        }
    
    
    }
    
    @media screen and (max-width: 980px) {
        /* Modal Content */
        .our-projects__modal-content {
            width: 70%;
        }
    
        .success-stories-block
        {
            flex-direction: column;
        }
    
        .success-img
        {
            border-radius: 5px 5px 0 0;
        }
    }
    
    @media screen and (max-width: 640px) {
        /* Modal Content */
        .our-projects__modal-content {
            width: 90%;
            padding: 20px;
        }
    
        .lower_content_
        {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            column-gap: 50px;
        }
    
        .lower_container{
            width: 50%;
            margin-bottom: 12vh;
        }
    
        .lower_container .btn{
            margin-top: 0;
        }
    
        .Content_{
            display: flex;
            flex-direction: column;
        }
    
        p.Content_{
            /* align-items: center; */
        }
    }
    
/*our success stories*/
.main_heading{
text-align: center;
margin-top: 3rem;
margin-bottom: 4rem;}

.qr-code {
    display: flex;
}

.qr-code img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    height: 40%;
}

@media screen and (max-width: 1366px) {
    .qr-code img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 980px) {
    /* Modal Content */
    .our-projects__modal-content {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {
    /* Modal Content */
    .our-projects__modal-content {
        width: 90%;
        padding: 20px;
    }
}
/*    */
